NEXT_PUBLIC_APP_NAME=Meridian
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DEFAULT_LOCALE=es
NEXT_PUBLIC_FALLBACK_LOCALE=en
NEXT_PUBLIC_APP_TIMEZONE=America/Bogota
SUPABASE_SERVICE_ROLE_KEY=
